# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Windows specific
Thumbs.db
desktop.ini
merged_evaluation.csv
csvMerge.py
# macOS specific
.DS_Store

# Temporary files
*.tmp